body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.block1,
.block2,
.block3 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  /* фиксируем картинку */
  background-attachment: fixed;
}

.block1 {
  background-image: url("../img/image (1).jpg");
  min-height: 700px;
}

.block2 {
  background-image: url("../img/image (2).jpg");
  min-height: 500px;
}

.block3 {
  background-image: url("../img/image (3).jpg");
  min-height: 500px;
}

.art {
  padding: 120px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.parag1 {
  padding: 50px 120px;
  text-align: center;
  color: white;
}

.parag {
  padding: 50px 150px;
  text-align: center;
}

a {
  color: rgb(245, 190, 8);
}

a:visited {
  color:  rgb(245, 190, 8);
}

@media (max-width: 568px) {
  .block1,
  .block2,
  .block3 {
    background-attachment: scroll;
  }

  .parag1 {
    padding: 50px 15px;
  }

  .parag {
    padding: 50px 15px;
  }
}
