body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  scroll-snap-type: block mandatory;
  scroll-behavior: smooth;
}

.block1,
.block2,
.block3 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 500px;

  /* фиксируем картинку */
  background-attachment: fixed;

  /* scroll-snap-align: start; */
}

.block1 {
  background-image: url("../img/image (1).jpg");
}

.block2 {
  background-image: url("../img/image (2).jpg");
}

.block3 {
  background-image: url("../img/image (3).jpg");
}

.art {
  padding: 20%;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.parag1 {
  padding: 20% 15%;
  text-align: center;
  color: white;
}

.parag {
  padding: 10% 10%;
  text-align: center;
}

a {
  color: rgb(245, 190, 8);
}

a:visited {
  color: rgb(245, 190, 8);
}

@media (max-width: 568px) {
  .block1,
  .block2,
  .block3 {
    background-attachment: scroll;
    scroll-snap-type: block mandatory;
  }
}
