body {
  /* color scheme  */
  --fontSize: 18px;
  --fontColor: rgb(0, 7, 7);
  --backColor: rgb(209, 170, 112);
  --listColor: rgb(240, 144, 20);
  --hoverColor: rgb(165, 89, 27);

  /* bees */
  background-image: url("bees-busy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.toDoForm {
  margin: 40px auto;
  width: 80vw;
  height: 80vh;
  color: var(--fontColor);
  background-color: var(--backColor);
  border: 3px solid var(--fontColor);
  font-size: var(--fontSize);
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 0.85;
  overflow: auto;
  background: linear-gradient(
    135deg,
    var(--backColor) 25%,
    rgba(226, 92, 38, 0.788) 50%,
    var(--backColor) 75%
  );
}

.toDoForm p {
  font-size: 12px;
  text-align: center;
}

.header {
  text-align: center;
  padding: 28px 16px 2px;
  /* background-color: var(--backColor); */
}

.header h2 {
  filter: drop-shadow(7px 7px 3px);
}

.newblock {
  padding: 20px 30px;
}

#newItem {
  transition: .75s;
  width: 70%;
  height: 28px;
  font-size: 20px;
  padding: 5px 5px;
  border-radius: 8px;
  border-style: 2px solid;
}

#addNewItem {
  font-size: 16px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border-style: 2px solid;
}

#addNewItem:hover {
  background-color: var(--hoverColor);
}

#list {
  background-color: var(--listColor);
}

ul {
  padding: 5px;
  list-style: none;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  transition: 0.6s;
  user-select: none;
  font-weight: bold;
}

ul li:hover {
  background: var(--hoverColor);
}

.checked {
  text-decoration: line-through;
  font-weight: normal;
}

.close {
  float: right;
  color: rgb(245, 11, 11);
  font-size: 20px;
}

.close:hover {
  color: black;
  font-weight: bold;
  transition: 2s;
}
