body {
	/* color scheme  */
	--fontSize: 18px;
	--fontColor: rgba(20, 4, 4, 0.685);
	--backColor: rgb(59, 159, 199);
	--listColor: rgb(236, 236, 112);
	--hoverColor: rgb(37, 233, 63);

	/* bees */
	background-image: url('bees-busy.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


}

.toDoForm {
	margin: 40px auto;
	width: 640px;
	height: 800px;
	background-color: var(--backColor);
	border: 3px solid var(--fontColor);
	font-size: var(--fontSize);
	font-family: Georgia, 'Times New Roman', Times, serif;
	opacity: 0.9;

}

.header {
	text-align: center;
	padding: 28px;
	background-color: var(--backColor);
}

.header h1 {
	filter: drop-shadow(15px 15px 5px);
}

.newblock {
	padding: 20px 30px;
}

#newItem {
	width: 70%;
	height: 28px;
	font-size: 20px;
	padding: 3px;
}

#addNewItem {
	font-size: 14px;
	font-weight: bold;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 16px;
	border-style: 3px solid;
}

#addNewItem:hover {
	background-color: var(--hoverColor);
}

#list {
	background-color: var(--listColor);
}

ul {
	padding: 5px;
	list-style: none;
}

ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	transition: 0.6s;
	user-select: none;
	font-weight: bold;
}

ul li:hover {
	background: var(--hoverColor);
}

.checked {
	text-decoration: line-through;
	font-weight: normal;
}


.close {
	float: right;
	color: rgb(238, 97, 121);
	font-size: 20px;
}

.close:hover {
	color: black;
	font-weight: bold;
	transition: 2s;
}